.weather-toast {
    background: linear-gradient(135deg, #cce7ff, #e6f7ff);
    color: #003d66;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 102, 204, 0.2);
    font-family: "Segoe UI", sans-serif;
    font-size: 0.85rem;
    padding: 6px;
    padding-left: 20px;
}
.weather-toast-body {
    display: flex;
    align-items: center;
}

.weather-toast-progress {
    background: #3399ff !important;
}

.toast-cloud-icon {
    flex: 0 0 auto;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-43%) translateY(-55%);
    position: absolute;
}

.toast-cloud-icon img {
    width: 70%;
    aspect-ratio: 1/1;
    filter: brightness(1.04) contrast(1.02) saturate(1.3);
    object-fit: contain;
}
